{"presets": [
  ["preact-cli/babel", { "modules": "commonjs" }]
],
  "plugins": [
    ["styled-jsx/babel"]
  ],
  "env": {
    "test": {
      "presets": [
        ["preact-cli/babel", { "modules": "commonjs" }]
      ]
    }
  }
}
